.text-no-wrap {
  white-space: nowrap;
}

@media (min-width: 1200px) {
  .background {
    width: 80% !important;
    margin-left: 12.5%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.background {
    background-color: white;
    padding: 2%;

  }